<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:usesCleartextTraffic="true">

        <activity
            android:name=".camera.FaceCameraActivity"
            android:exported="false" />


        <activity
            android:name=".card.CardCameraPreviewActivity"
            android:exported="false" />

    </application>

</manifest>